body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #333;
    margin-top: 100px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #0055aa;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #003f7d;
}
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
