<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Pedidos de Oração Recebidos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1 class="titulo">Pedidos de Oração Recebidos</h1>

  <pre style="text-align: left; background: #f4f4f4; padding: 20px; max-width: 800px; margin: 0 auto; white-space: pre-wrap;">{{ pedidos }}</pre>

 <div style="margin-top: 30px; text-align: center;">
  <form action="/apagar" method="post" onsubmit="return confirm('Tem certeza que deseja apagar todos os pedidos?');">
    <button type="submit" class="botao" style="background-color: red;">Apagar Todos os Pedidos</button>
  </form>
  <br>
   <a href="/"><button>Voltar</button></a>
</div>
