<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Contatos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

  <h1 class="titulo">Nossas Redes Sociais</h1>

  <div class="redes-vertical">
    <a href="https://wa.me/5544984360780" target="_blank">
      <i class="fab fa-whatsapp"></i> WhatsApp
    </a>
    <a href="https://www.instagram.com/ieqivate?igsh=a3RpNTVzbnUybHV3" target="_blank">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://www.facebook.com/share/1FHZ6PjtLk/" target="_blank">
      <i class="fab fa-facebook"></i> Facebook
    </a>
  </div>

  <div style="margin-top: 30px;">
      <a href="/"><button>Voltar</button></a>
  </div>

</body>
</html>
